body {
	background: #3a3b3c;
	color: white;
	font-family: "comic";
    overflow:hidden;
}

h1 {
	font-size: 6vw;
	margin: 0px;
	margin-top: 2vh;
	padding: 0px;
}
h3 {
	padding: 0px;
	margin: 0px;
	font-size: 1.5vw;
}

@font-face {
  font-family: "comic";
  src: url("/COMIC.TTF");
}

.center-wrap {
	text-align: center;
}

.field {
	margin-bottom: 2vh;
}

.video-container {
	align: center;
}


.download-btn {
	width:40vw;
	height: 6vh;
	border-radius: 0.5em;
	background: #28a745;
	color: white;
	border: 1px solid transparent;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-decoration: none;
	font-size: 1.5vw;
}

.github-btn {
	width:40vw;
	height: 6vh;
	border-radius: 0.5em;
	background: #FA8072;
	color: white;
	border: 1px solid transparent;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-decoration: none;
	font-size: 1.5vw;
}

.github-btn:hover {
    background-color: #FF0000;
    border-color: #FF0000;
}

.download-btn:hover {
    background-color: #218838;
    border-color: #1e7e34;
} 